@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,800&display=swap);
details summary[data-v-029639dd] {
  list-style: none;
  display: block;
  background-color: #f4f4f4;
  padding: 15px 10px;
  position: relative;
  cursor: pointer;
  color: #027fc7;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
details summary[data-v-029639dd]::-webkit-details-marker {
  display: none;
}
details summary[data-v-029639dd]:before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: " ˇ";
  font-family: FontAwesome;
  font-size: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30px;
  color: #fff;
}
details[data-v-029639dd] > :not(summary) {
  padding: 10px;
  background-color: #fff;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s;
}
details[open] summary[data-v-029639dd]:before {
  content: " ˆ";
}
details[open][data-v-029639dd] > :not(summary) {
  transform: scaleY(1);
}
details .mobile_menu-link[data-v-029639dd] {
  padding: 20px;
  color: #027fc7;
}
.links-wrap[data-v-029639dd],
.modal[data-v-7f8f917f] {
  display: flex;
  flex-direction: column;
}
.modal[data-v-7f8f917f] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.modal__body[data-v-7f8f917f] {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding-top: 90px;
  overflow-y: scroll;
}
.modal .btn-close[data-v-7f8f917f] {
  position: absolute;
  top: 20px;
  right: 15px;
  padding: 10px 15px;
}
.isShow {
  opacity: 1 !important;
  visibility: visible !important;
}
.header__wrapper {
  position: relative;
  padding: var(--default);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  .header__wrapper {
    gap: 24px;
  }
}
@media only screen and (max-width: 1024px) {
  .header__wrapper {
    gap: 44px;
  }
}
@media only screen and (max-width: 320px) {
  .header__wrapper {
    gap: 13.6px;
  }
}
.header__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
.header__left .logo {
  display: inline-block;
}
.header__left .logo img {
  width: 100%;
  max-width: 180px;
}
@media only screen and (max-width: 768px) {
  .header__left .logo img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
@media only screen and (max-width: 1200px) {
  .header__left .main-menu {
    display: none;
  }
}
.header__left .main-menu__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 44px;
  padding: 0;
  margin-left: 84px;
}
@media only screen and (max-width: 1475px) {
  .header__left .main-menu__list {
    gap: 15px;
    margin-left: 44px;
  }
}
@media only screen and (max-width: 1350px) {
  .header__left .main-menu__list {
    font-size: 14px;
  }
}
.header__left .main-menu__item {
  display: block !important;
  padding: 20px 5px;
  border-radius: 15px;
  width: 165px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}
.header__left .main-menu__item:hover {
  background-color: #bbcdd7;
}
.header__left .main-menu__item .router-link-active {
  color: #027fc7;
}
.header__left .main-menu__dropdown {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0.15s;
  transition-delay: 0.15s;
  background: #fff;
  padding: 44.8px 60px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  z-index: 10;
}
.header__right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 445px;
}
@media only screen and (max-width: 1300px) {
  .header__right {
    max-width: 350px;
  }
}
@media only screen and (max-width: 1200px) {
  .header__right {
    max-width: 450px;
  }
}
@media only screen and (max-width: 992px) {
  .header__right {
    flex: 2;
    justify-content: flex-end;
    gap: 24px;
  }
}
@media only screen and (max-width: 992px) and (max-width: 576px) {
  .header__right {
    gap: 17.6px;
  }
}
.header__right .phone {
  color: #0551a0;
  font-size: 24px;
  font-weight: 600;
}
@media only screen and (max-width: 1300px) {
  .header__right .phone {
    font-size: 18px;
  }
}
@media only screen and (max-width: 992px) {
  .header__right .phone {
    font-size: 18.4px;
  }
}
@media only screen and (max-width: 576px) {
  .header__right .phone {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .header__right .phone {
    display: none;
  }
}
.header__right .search_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5.6px;
}
.header__right .search_form input {
  border: none;
  border-bottom: 2px solid grey;
  transition: all 0.3s;
  padding: 4px;
  color: #027fc7;
}
.header__right .search_form input:focus {
  border-color: #027fc7;
}
@media only screen and (max-width: 768px) {
  .header__right .search_form input {
    display: none;
  }
}
.header__right .search_form button {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .header__right .search_form button {
    display: none;
  }
}
.header__right .news {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.header__right .news span {
  font-weight: 500;
}
@media only screen and (max-width: 1024px) {
  .header__right .news span {
    display: none;
  }
}
.header__right .mobile-menu {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .header__right .mobile-menu {
    display: inline-flex;
  }
}
.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 80px;
}
.dropdown__title {
  font-weight: 800;
  font-size: 32px;
}
.dropdown__title h3 {
  margin: 0;
}
.dropdown__links {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}
@media only screen and (min-width: 1440px) {
  .dropdown__links {
    grid-gap: 15px;
  }
}
@media only screen and (max-width: 992px) {
  .dropdown__links {
    grid-template-columns: 1fr 1fr;
    grid-gap: 12.8px 19.2px;
  }
}
.dropdown__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  display: inline-flex;
  padding-right: 32px;
  transition: background 0.3s;
  width: -webkit-fill-available;
}
@media only screen and (min-width: 1600px) {
  .dropdown__link {
    max-width: 80%;
  }
}
.dropdown__link:hover {
  background: #eaf7fe;
}
.dropdown__link:hover svg path {
  transition: fill 0.3s;
  fill: #027fc7;
}
.dropdown__link.router-link-active.router-link-exact-active {
  background: #eaf7fe;
}
.dropdown__link.router-link-active.router-link-exact-active svg path {
  transition: fill 0.3s;
  fill: #027fc7;
}
.dropdown__link .link__group {
  font-size: 12.8px;
}
.dropdown__link .link__group .link__title {
  font-weight: 700;
  margin-bottom: 4.8px;
}
.dropdown__link .link__group .link__subtitle {
  font-weight: 400;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 21.6px 20px;
  font-weight: 500;
}
@media only screen and (max-width: 992px) {
  .footer__wrapper {
    flex-wrap: wrap;
    gap: 16px 0;
  }
  .footer__wrapper div {
    width: 50%;
  }
}
@media only screen and (max-width: 992px) and (max-width: 320px) {
  .footer__wrapper div {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .footer__wrapper {
    gap: 24px 0;
  }
}
.footer__wrapper .copyright {
  font-size: 14.4px;
}
@media only screen and (max-width: 1200px) {
  .footer__wrapper .copyright {
    font-size: 12px;
  }
}
@media only screen and (max-width: 992px) {
  .footer__wrapper .copyright {
    order: 2;
  }
}
@media (max-width: 576px) {
  .footer__wrapper .copyright {
    order: 0;
    width: 90%;
    margin: auto;
    text-align: center;
  }
}
.footer__wrapper .apps-badgets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
@media only screen and (max-width: 992px) {
  .footer__wrapper .apps-badgets {
    order: 0;
  }
}
@media (max-width: 480px) {
  .footer__wrapper .apps-badgets {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .footer__wrapper .apps-badgets span {
    display: none;
  }
}
@media (max-width: 992px) {
  .footer__wrapper .apps-badgets span {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .footer__wrapper .apps-badgets span {
    display: none;
  }
}
.footer__wrapper .apps-badgets .app-icons {
  width: 100%;
}
@media (max-width: 576px) {
  .footer__wrapper .apps-badgets .app-icons {
    display: flex;
  }
}
@media (max-width: 576px) {
  .footer__wrapper .apps-badgets .app-icons a {
    flex: 1;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .footer__wrapper .apps-badgets .app-icons img {
    width: 50%;
  }
}
.footer__wrapper .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 19.2px;
}
@media only screen and (max-width: 992px) {
  .footer__wrapper .socials {
    order: 1;
    justify-content: flex-end;
    gap: 16px;
  }
}
@media (max-width: 480px) {
  .footer__wrapper .socials {
    width: 100%;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 992px) {
  .footer__wrapper .shield {
    text-align: end;
    order: 3;
  }
}
@media (max-width: 576px) {
  .footer__wrapper .shield {
    width: 100%;
    text-align: center;
  }
}
.footer img {
  transition: all 0.4s;
  transition-delay: 0.15s;
}
.footer a:hover img {
  transform: translateY(-6.4px);
  opacity: 0.75;
}
.news-drawer-block h5 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.05em;
}
.news-drawer-block img {
  width: 100%;
  height: auto;
  -o-object-fit: fill;
  object-fit: fill;
  margin-bottom: 16px;
}
.news-drawer-block a,
.news-drawer-block p,
.news-drawer-block span {
  width: 100%;
  max-width: 100%;
  word-break: break-word;
}
.ps {
  height: 100%;
}
@media only screen and (max-width: 576px) {
  .ps {
    max-height: calc(100vh - 90px);
  }
}
.news-drawer {
  width: 440px;
  background: #fafafa;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(120%);
  transition: transform 0.2s ease-in-out, width 0.1s ease-in;
  overflow-y: hidden;
}
@media only screen and (max-width: 576px) {
  .news-drawer {
    width: 100%;
  }
}
.news-drawer.isShow {
  transform: translateX(0);
}
.news-drawer.isShow.isExpand {
  width: 50%;
}
@media only screen and (max-width: 576px) {
  .news-drawer.isShow.isExpand {
    max-width: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .news-drawer.isShow .ps {
    overflow-y: scroll !important;
  }
}
.news-drawer__wrapper {
  position: relative;
  padding: 0 31.2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.news-drawer__head {
  width: 100%;
  padding: 31.2px 0 11.2px;
  position: sticky;
  top: 0;
  background: #fafafa;
  z-index: 2;
}
.news-drawer__head h5 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0.05em;
}
.news-drawer__head .arrow_back svg {
  transform: scale(1.5);
  cursor: pointer;
}
.news-drawer__list {
  list-style: none;
  padding: 0;
}
.news-drawer__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 33.6px;
}
.news-drawer__item:hover .extract {
  opacity: 0.85;
}
.news-drawer__item .date {
  font-size: 12.8px;
  display: inline-flex;
}
.news-drawer__item .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
}
.news-drawer__item .thumb-news {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}
.news-drawer__item .extract {
  font-size: 13.6px;
  line-height: 20.8px;
  color: #333;
  margin: 3.2px 0;
  transition: opacity 0.2s ease-in-out;
}
.news-drawer__item .tag_list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
}
.news-drawer__item .tags {
  font-size: 12.8px;
  font-weight: 300;
  color: #027fc7;
}
.news-drawer__more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.page-layout[data-v-5cb1f4c9] {
  width: 100%;
  display: grid;
  grid-template-columns: 340px 1fr;
  gap: 19.2px;
}
@media only screen and (max-width: 768px) {
  .page-layout[data-v-5cb1f4c9] {
    display: flex;
    flex-direction: column;
  }
}
.page-layout .sidebar[data-v-5cb1f4c9] {
  padding: 30.4px;
  background: #f1f1f1;
}
.page-layout .sidebar__title[data-v-5cb1f4c9] {
  font-size: 32px;
  color: #027fc7;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}
.page-layout .sidebar__menu-list[data-v-5cb1f4c9] {
  list-style: none;
  padding: 0;
  margin-top: 24px;
}
.page-layout .sidebar__menu-link[data-v-5cb1f4c9] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 19.2px;
  position: relative;
}
.page-layout .sidebar__menu-link.router-link-active[data-v-5cb1f4c9] {
  color: #027fc7;
}
.page-layout .sidebar__menu-link.router-link-active[data-v-5cb1f4c9]:before {
  position: absolute;
  top: 0;
  left: -30.4px;
  height: 100%;
  content: "";
  width: 6px;
  background: #027fc7;
  border-radius: 0 3px 3px 0;
}
.page-layout
  .sidebar__menu-link.router-link-active
  .sidebar__menu-link--title[data-v-5cb1f4c9] {
  font-weight: 800;
}
.page-layout .sidebar__menu-link--title[data-v-5cb1f4c9] {
  font-weight: 700;
  font-size: 12.8px;
}
.page-layout .sidebar__menu-link--subtitle[data-v-5cb1f4c9] {
  font-size: 12.8px;
}
.search-layout .search_form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 25px;
}
.search-layout input {
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
}
.search-layout svg {
  display: none;
}
.search-layout[data-v-5c181461] {
  width: 100%;
  display: grid;
  grid-template-columns: 340px 1fr;
  gap: 19.2px;
}
@media only screen and (max-width: 768px) {
  .search-layout[data-v-5c181461] {
    display: flex;
    flex-direction: column;
  }
}
.search-layout .sidebar[data-v-5c181461] {
  padding: 30.4px;
  background: #f1f1f1;
}
.search-layout .sidebar__title[data-v-5c181461] {
  font-size: 32px;
  color: #027fc7;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}
.search-layout .sidebar__menu-list[data-v-5c181461] {
  list-style: none;
  padding: 0;
  margin-top: 24px;
}
.search-layout .sidebar__menu-link[data-v-5c181461] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 19.2px;
  position: relative;
}
.search-layout .sidebar__menu-link.router-link-active[data-v-5c181461] {
  color: #027fc7;
}
.search-layout .sidebar__menu-link.router-link-active[data-v-5c181461]:before {
  position: absolute;
  top: 0;
  left: -30.4px;
  height: 100%;
  content: "";
  width: 6px;
  background: #027fc7;
  border-radius: 0 3px 3px 0;
}
.search-layout
  .sidebar__menu-link.router-link-active
  .sidebar__menu-link--title[data-v-5c181461] {
  font-weight: 800;
}
.search-layout .sidebar__menu-link--title[data-v-5c181461] {
  font-weight: 700;
  font-size: 12.8px;
}
.search-layout .sidebar__menu-link--subtitle[data-v-5c181461] {
  font-size: 12.8px;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}
:root {
  --primary: #027fc7;
  --secondary: #f84242;
  --default: 16px;
}
body {
  background: #fff;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
  color: #333;
  min-height: 100vh;
}
#app {
  max-width: 1920px;
  margin: auto;
}
[v-cloak] {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 5s, opacity 5s linear;
}
main {
  position: relative;
  padding: 0 9.6px;
  overflow-x: hidden;
}
@media only screen and (max-width: 768px) {
  main {
    padding: 0 6.4px;
  }
}
a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}
a:hover {
  color: #027fc7;
}
input:focus,
textarea:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.btn,
.elementor-container .elementor-widget-button.button a {
  padding: 12px 20px;
  border-radius: 10.4px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12.8px;
  transition: all 0.2s;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 19.2px;
}
.btn:active,
.elementor-container .elementor-widget-button.button a:active {
  transform: translate(1.6px, 1.6px);
}
.btn.btn-disabled,
.btn:disabled,
.elementor-container .elementor-widget-button.button a.btn-disabled,
.elementor-container .elementor-widget-button.button a:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.btn.btn-white,
.elementor-container .elementor-widget-button.button a.btn-white {
  background: #fff;
  border: 1px solid #f3f3f3;
  color: #333 !important;
}
.btn.btn-white:hover,
.elementor-container .elementor-widget-button.button a.btn-white:hover {
  background: #fff !important;
  color: #40a1da !important;
}
.btn.btn-primary,
.elementor-container .elementor-widget-button.button a {
  background: #027fc7;
  color: #fff !important;
}
.btn.btn-primary:hover,
.elementor-container .elementor-widget-button.button a:hover {
  background: #40a1da !important;
  color: #fff !important;
}
.btn.btn-secondary,
.elementor-container .elementor-widget-button.button a.btn-secondary {
  background: #f84242;
  color: #fff !important;
}
.btn.btn-secondary:hover,
.elementor-container .elementor-widget-button.button a.btn-secondary:hover {
  background: #fd6767 !important;
}
.layout {
  min-height: calc(100vh - 206px);
}
@media only screen and (max-width: 992px) {
  .layout {
    min-height: calc(100vh - 116px);
  }
}
.table-res {
  overflow-x: auto;
}
@media (min-device-width: 768px) and (max-device-width: 990px),
  only screen and (max-width: 760px) {
  table {
    border: 1px solid #f0f0f0 !important;
    border-radius: 5px;
  }
  table tr {
    display: grid;
    grid-template-columns: 1fr;
  }
  table td,
  table tr {
    width: auto;
    max-width: 100%;
  }
}
.mt-1 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 16px;
}
.mt-3 {
  margin-top: 24px;
}
.mt-4 {
  margin-top: 40px;
}
.mb-1 {
  margin-bottom: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}
.mb-3 {
  margin-bottom: 24px;
}
.mb-4 {
  margin-bottom: 40px;
}
@media only screen and (max-width: 576px) {
  .elementor-col-100 {
    width: 100%;
  }
}
.elementor-widget.elementor-widget-spacer {
  margin-bottom: 40px;
}
table {
  width: 100%;
  border: none;
  margin-bottom: 20px;
}
table thead th {
  font-weight: 700;
  text-align: left;
  border: none;
  padding: 9.6px 16px;
  background: #d8d8d8;
  font-size: 18.4px;
}
table thead tr th:first-child {
  border-radius: 8px 0 0 8px;
}
table thead tr th:last-child {
  border-radius: 0 8px 8px 0;
}
table tbody td {
  text-align: left;
  border: none;
  padding: 9.6px 16px;
  font-size: 14.4px;
  vertical-align: top;
}
table tbody tr {
  transition: background 0.2s ease-in-out;
}
table tbody tr:nth-child(2n) {
  background: #f1f1f1;
}
table tbody tr:hover {
  background: #f3f3f3;
}
table tbody tr td:last-child {
  border-radius: 0 8px 8px 0;
}
table tbody tr td:first-child {
  border-radius: 8px 0 0 8px;
}
figure {
  margin: 0 0 32px 0;
}
.elementor-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 576px) {
  .elementor-container {
    flex-direction: column;
  }
}
.elementor-container .elementor-col-33,
.elementor-container .elementor-col-50,
.elementor-container .elementor-column {
  flex: 1;
}
.elementor-container .elementor-col-66 {
  flex: 3;
}
.elementor-container .elementor-align-center {
  margin: auto;
  text-align: center;
}
.elementor-container .elementor-align-left {
  margin-right: auto;
  text-align: left;
}
.elementor-container .elementor-align-right {
  margin-left: auto;
  text-align: right;
}
.elementor-container a {
  position: relative;
}
.elementor-container a:before {
  content: "";
  height: 8px;
  width: 100%;
  background: #40a1da;
  position: absolute;
  bottom: -2px;
  z-index: 0;
  opacity: 0.5;
  transition: height 0.2s;
}
.elementor-container a:hover:before {
  height: 0;
}
.elementor-container .elementor-button-wrapper {
  display: inline-flex;
}
.elementor-container .elementor-widget-image .elementor-widget-container {
  display: flex;
}
.elementor-container .elementor-widget-image img {
  width: 100%;
  height: auto;
  margin: auto;
}
.elementor-container .elementor-widget-button.button a {
  font-size: 16px;
  padding-top: 17.6px;
  padding-bottom: 17.6px;
  margin-bottom: 16px;
}
.elementor-container .elementor-widget-button.button a:before {
  content: none;
}

.home__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: calc(100vh - 206px);
  gap: 10px; }
  @media only screen and (max-width: 992px) {
    .home__wrapper {
      min-height: calc(100vh - 247px); } }
  @media only screen and (max-width: 576px) {
    .home__wrapper {
      min-height: calc(100vh - 116px);
      grid-template-columns: 1fr; } }

.home__category-card {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all .3s ease-in; }
  .home__category-card:hover {
    background: #d4d4d4; }
  @media only screen and (max-width: 576px) {
    .home__category-card {
      min-height: 60vh; } }
  .home__category-card.sport .circle-primary {
    background: #027fc7 !important; }
  .home__category-card.rest .circle-secondary {
    background: #f84242 !important; }
  .home__category-card.object .circle-yellow {
    background: #cccd31 !important; }
  .home__category-card:hover .circle-overlay {
    transform: scale(1) translate(0, 0) !important; }
  .home__category-card:hover.sport .menu-title a {
    color: #027fc7 !important; }
  .home__category-card.sport .menu-title a {
    color: #fff; }
  .home__category-card.rest .menu-title a {
    color: #fff; }
  .home__category-card.object .menu-title a {
    color: #fff; }
  .home__category-card:hover.rest .menu-title a {
    color: #f84242 !important; }
  .home__category-card:hover.object .menu-title a {
    color: #9dab30 !important; }
  .home__category-card:hover .menu-link--item {
    margin-bottom: 12.8px !important; }
  .home__category-card.sport {
    text-align: center;
    background: #47bdf0; }
  .home__category-card.rest {
    text-align: center;
    background: #ff8a83; }
  .home__category-card.object {
    text-align: center;
    background: #fffd8b; }
  .home__category-card img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: contain; }
  .home__category-card .circle {
    width: 680px;
    height: 680px;
    border-radius: 50em;
    transition: all .3s ease-in; }
    .home__category-card .circle.circle-primary {
      position: absolute;
      bottom: 64px;
      left: -160px;
      background: #40a1da; }
      .home__category-card .circle.circle-primary:not(:hover) {
        transform: none !important; }
      @media only screen and (max-width: 768px) {
        .home__category-card .circle.circle-primary {
          bottom: 0; } }
      .home__category-card .circle.circle-primary ~ .circle-overlay {
        position: absolute;
        bottom: -88px;
        right: -88px;
        background: rgba(255, 255, 255, 0.66);
        transform: scale(0) translate(100%, 100%); }
        @media only screen and (max-width: 576px) {
          .home__category-card .circle.circle-primary ~ .circle-overlay {
            bottom: -136px;
            left: -224px; } }
    .home__category-card .circle.circle-secondary {
      position: absolute;
      bottom: -32px;
      right: -160px;
      background: #fd6767; }
      .home__category-card .circle.circle-secondary:not(:hover) {
        transform: none !important; }
      @media only screen and (max-width: 768px) {
        .home__category-card .circle.circle-secondary {
          bottom: 0; } }
      .home__category-card .circle.circle-secondary ~ .circle-overlay {
        position: absolute;
        bottom: -88px;
        left: -88px;
        background: rgba(255, 255, 255, 0.66);
        transform: scale(0) translate(100%, 100%); }
        @media only screen and (max-width: 576px) {
          .home__category-card .circle.circle-secondary ~ .circle-overlay {
            bottom: -136px;
            left: -224px; } }
    .home__category-card .circle.circle-yellow {
      position: absolute;
      bottom: -24px;
      right: -160px;
      background: #fafd93; }
      .home__category-card .circle.circle-yellow:not(:hover) {
        transform: none !important; }
      @media only screen and (max-width: 768px) {
        .home__category-card .circle.circle-yellow {
          bottom: 0; } }
      .home__category-card .circle.circle-yellow ~ .circle-overlay {
        position: absolute;
        bottom: -88px;
        left: -88px;
        background: rgba(255, 255, 255, 0.66);
        transform: scale(0) translate(100%, 100%); }
        @media only screen and (max-width: 576px) {
          .home__category-card .circle.circle-yellow ~ .circle-overlay {
            bottom: -136px;
            left: -224px; } }
  .home__category-card.sport .menu-section {
    position: absolute;
    top: 53%;
    right: 50%;
    transform: translate(50%, -50%); }
    @media only screen and (max-width: 768px) {
      .home__category-card.sport .menu-section {
        top: 60%;
        right: 136px; } }
    @media only screen and (max-width: 576px) {
      .home__category-card.sport .menu-section {
        top: 50%;
        right: 96px; } }
    @media only screen and (max-width: 320px) {
      .home__category-card.sport .menu-section {
        top: 53%;
        right: 76px; } }
    .home__category-card.sport .menu-section .menu-title {
      font-size: 64px;
      font-weight: 800;
      color: #ffffff;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      text-transform: uppercase;
      letter-spacing: 0.05em;
      line-height: 76.8px;
      transition: all .3s ease-in; }
      @media only screen and (max-width: 768px) {
        .home__category-card.sport .menu-section .menu-title {
          font-size: 48px; } }
      @media only screen and (max-width: 576px) {
        .home__category-card.sport .menu-section .menu-title {
          font-size: 32px; } }
      @media only screen and (max-width: 320px) {
        .home__category-card.sport .menu-section .menu-title {
          font-size: 24px; } }
    .home__category-card.sport .menu-section .menu-list {
      list-style: none;
      padding: 0;
      min-height: 227.2px; }
      .home__category-card.sport .menu-section .menu-list .menu-link--item {
        font-size: 14.4px;
        font-weight: 500;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        line-height: 27.2px;
        transition: all .4s ease-in-out; }
        @media only screen and (max-width: 320px) {
          .home__category-card.sport .menu-section .menu-list .menu-link--item {
            font-size: 11.2px;
            line-height: 24px; } }
        .home__category-card.sport .menu-section .menu-list .menu-link--item:hover {
          background-color: #bbcdd7;
          border-radius: 10px;
          padding: 1px 5px; }
  .home__category-card.rest .menu-section {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 768px) {
      .home__category-card.rest .menu-section {
        top: 60%;
        left: 136px; } }
    @media only screen and (max-width: 576px) {
      .home__category-card.rest .menu-section {
        top: 50%;
        left: 50%; } }
    @media only screen and (max-width: 320px) {
      .home__category-card.rest .menu-section {
        top: 48.5%;
        left: 80px; } }
    .home__category-card.rest .menu-section .menu-title {
      font-size: 64px;
      font-weight: 800;
      color: #ffffff;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      text-transform: uppercase;
      letter-spacing: 0.05em;
      line-height: 76.8px;
      transition: all .3s ease-in; }
      @media only screen and (max-width: 768px) {
        .home__category-card.rest .menu-section .menu-title {
          font-size: 48px; } }
      @media only screen and (max-width: 576px) {
        .home__category-card.rest .menu-section .menu-title {
          font-size: 32px; } }
      @media only screen and (max-width: 320px) {
        .home__category-card.rest .menu-section .menu-title {
          font-size: 24px; } }
    .home__category-card.rest .menu-section .menu-list {
      list-style: none;
      padding: 0;
      min-height: 227.2px; }
      .home__category-card.rest .menu-section .menu-list .menu-link--item {
        font-size: 14.4px;
        font-weight: 500;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        line-height: 27.2px;
        transition: all .4s ease-in-out; }
        .home__category-card.rest .menu-section .menu-list .menu-link--item:hover {
          background-color: #bbcdd7;
          border-radius: 10px;
          padding: 1px 5px; }
        @media only screen and (max-width: 320px) {
          .home__category-card.rest .menu-section .menu-list .menu-link--item {
            font-size: 11.2px;
            line-height: 24px; } }
  .home__category-card.object .menu-section {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 768px) {
      .home__category-card.object .menu-section {
        top: 60%;
        left: 136px; } }
    @media only screen and (max-width: 576px) {
      .home__category-card.object .menu-section {
        top: 50%;
        left: 48%; } }
    @media only screen and (max-width: 320px) {
      .home__category-card.object .menu-section {
        top: 48.5%;
        left: 45%; } }
    .home__category-card.object .menu-section .menu-title {
      font-size: 48px;
      font-weight: 800;
      color: #ffffff;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      text-transform: uppercase;
      letter-spacing: 0.05em;
      line-height: 76.8px;
      transition: all .3s ease-in; }
      @media only screen and (max-width: 768px) {
        .home__category-card.object .menu-section .menu-title {
          font-size: 48px; } }
      @media only screen and (max-width: 576px) {
        .home__category-card.object .menu-section .menu-title {
          font-size: 32px; } }
      @media only screen and (max-width: 320px) {
        .home__category-card.object .menu-section .menu-title {
          font-size: 24px; } }
    .home__category-card.object .menu-section .menu-list {
      list-style: none;
      padding: 0;
      min-height: 227.2px; }
      .home__category-card.object .menu-section .menu-list .menu-link--item {
        font-size: 12.8px;
        font-weight: 500;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        line-height: 27.2px;
        transition: all .4s ease-in-out; }
        .home__category-card.object .menu-section .menu-list .menu-link--item:hover {
          background-color: #bbcdd7;
          border-radius: 10px;
          padding: 1px 5px; }
        @media only screen and (max-width: 320px) {
          .home__category-card.object .menu-section .menu-list .menu-link--item {
            font-size: 11.2px;
            line-height: 24px; } }
