// Basic color
$base-color: #ffffff;
// Primary theme color
$primary-color: #027fc7;
$primary-color-light: #40a1da;
// Secondary theme color
$secondary-color: #f84242;
$secondary-color-light: #fd6767;
// Orange color
$orange-color: #ef7c00;

// Text, icons, inputs colors
$text-color: #333333;
$sub-text-color: #808080;

// Header phone & home page hover links color
$m-link-color: #0551a0;

// Font sizes
$base-font-size: 16px;

// Default Padding
$default-padding: 16px;

// Media Screen Sizes
$sizes-xs: 320px;
$sizes-sm:576px;
$sizes-md:768px;
$sizes-lg:1024px;
$sizes-xl:1200px;
$sizes-exl: 1440px;
$sizes-max: 1920px;
