{% load static %}
<footer class="footer bg-light text-center text-lg-start">
    <div class="footer__wrapper">
      <div class="copyright">
        <span>© ГАУ РБ "ДИРЕКЦИЯ СПОРТИВНЫХ СООРУЖЕНИЙ</span>
      </div>
      
      <div class="socials">
        <a href="https://vk.com/dss03" class="social-item" target="_blank">
          <img src="{% static '/img/vk.svg' %}" alt="vk icon" />
        </a>
        <a href="https://ok.ru/dss03" class="social-item" target="_blank">
          <img src="{% static '/img/ok.svg' %}" alt="od icon" />
        </a>
        <!-- <a
          href="https://www.instagram.com/dss_uu/"
          class="social-item"
          target="_blank"
        >
          <img src="../assets/instagram1.png" alt="instagram icon" />
        </a> -->
        <a href="https://t.me/dssburuu" class="social-item" target="_blank">
          <img src="{% static '/img/tg.png' %}" alt="telegram icon" />
        </a>
        <a
          href="https://www.youtube.com/channel/UCfOQoOCogLtL6fh0fwnZ5vw"
          class="social-item"
          target="_blank"
        >
          <img src="{% static '/img/youtube.svg' %}" alt="youtube icon" />
        </a>
      </div>
    </div>
</footer>