{% extends 'base.html' %} 
{% load static %} 
{% block title %}Главная ДСС{%endblock %} 
{% block body %}
<div class="layout home-layout">
<div class="home home-view">
  <div class="home__wrapper">
    <div class="home__category-card sport">
      <div class="circle circle-primary"></div>
      <img src="/img/sport-image.051a0fb2.png" alt="" /><img
        src="/img/sport-design.ae4004bf.png"
        alt=""
        style="transform: translateX(-27.2452px) translateY(-27.7522px)"
      />
      <div class="circle circle-overlay"></div>
      <div class="menu-section">
        <div class="menu-title">
          <a href="/category/sport" class="">СПОРТ</a>
        </div>
        <ul class="menu-list">
          <li class="menu-link--item">
            <a href="/page/sport/235" class="">бассейн</a>
          </li>
          <li class="menu-link--item">
            <a href="/page/sport/292" class="">тренажерные залы</a>
          </li>
          <li class="menu-link--item">
            <a href="/page/sport/246" class="">футбольные поля</a>
          </li>
          <li class="menu-link--item">
            <a href="/page/sport/257" class="">стрельба из лука</a>
          </li>
          <li class="menu-link--item">
            <a href="/page/sport/251" class="">единоборства</a>
          </li>
          <li class="menu-link--item">
            <a href="/page/sport/259" class="">секции</a>
          </li>
          <li class="menu-link--item">
            <a href="/page/sport/294" class="">конный спорт</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="home__category-card rest">
      <div
        class="circle circle-secondary"
        style="transform: translateX(-16.4883px) translateY(16.7277px)"
      ></div>
      <img src="/img/rest-image.3f7b93db.png" alt="" /><img
        src="/img/rest-design.3b5caade.png"
        alt=""
        style="transform: translateX(-24.7324px) translateY(41.8192px)"
      />
      <div class="circle circle-overlay"></div>
      <div class="menu-section">
        <div class="menu-title">
          <a href="/category/vacation" class="">ОТДЫХ</a>
        </div>
        <ul class="menu-list">
          <li class="menu-link--item">
            <a href="/page/vacation/331" class="">база отдыха</a>
          </li>
          <li class="menu-link--item">
            <a href="/page/vacation/327" class="">сауны</a>
          </li>
          <li class="menu-link--item">
            <a href="/page/vacation/329" class="">DSS_STUDIO</a>
          </li>
          <li class="menu-link--item">
            <a href="/page/vacation/369" class="">мероприятия</a>
          </li>
          <li class="menu-link--item">
            <a href="/page/vacation/371" class="">концерты</a>
          </li>
          <li class="menu-link--item">
            <a href="/page/vacation/1207" class="">конферец-залы</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
